@page
@model FDFLodsedler.Pages.Leaders.OpretLederModel
@{
}
<h1>Tilføj  Leder</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="  ModelOnly  " class="text-danger">
            </div>
            <div class="form-group">
                <label asp-for="@Model.leder.Navn" class="control-label"></label>
                <input asp-for="@Model.leder.Navn" class="form-control" />
                <span asp-validation-for="@Model.leder.Navn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.leder.BrugerId" class="control-label"></label>
                <input asp-for="@Model.leder.BrugerId" class="form-control" />

                <span asp-validation-for="@Model.leder.BrugerId" class="text-danger"></span>
            </div>



            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>