@page
@model FDFLodsedler.Pages.Tickets.VisLodseldlerModel
@{
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2> Oversigt over lodsedler</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="/Tickets/OpretLodseldler" class="btn btn-primary">Ny Lodseddel</a>
        </div>
    </div>
</div>
<table class="table table-bordered table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Lod Id </th>
            <th>Børn Id </th>
            <th>Antal Udleveret </th>
            <th>Slet</th>
            <th>Opdater</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Lodseldler != null)
        {
            @foreach (var item in Model.Lodseldler)
            {
                <tr>                    
                    <td width="10%"> @item.Lod_Id </td>
                    <td width="45%"> @item.BørneId</td>
                    <td width="45%"> @item.AntalUdleveret</td>
                    <td>
                        <a asp-page="/Tickets/SletLodselder" asp-route-sid="@item.Lod_Id" class="btn btn-danger m-1">Slet </a>
                    </td>
                    <td>
                        <a asp-page="/Tickets/OpdatereLodseldler" asp-route-sid="@item.Lod_Id" class="btn btn-primary m-1">Opdater </a>
                    </td>
                </tr>
            }
        }
</table>